
/*.zaga {
  background-image: url('../img/bg-zero.jpg');
  background-size: cover;
  position: fixed;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
}*/


/* ---------

  Code Challenge for Zagalabs by
  María Paz Muñoz
  2017

--------- */


/* Variables */

$main-color : #3e3e3e;
$gray : #eee;
$t-black : rgba(0, 0, 0, 0.5);
$font-main: 'Open Sans', sans-serif;


/*----- Reset style -----*/

  html {min-height: 100%;  background-color: #f6f6f6;}
  body {color: #231f20; position: relative; font-size: 16px; font-family: $font-main; font-weight: normal; color: white; }
  html, body, ul, li {margin: 0; padding: 0}
  a {text-decoration: none;}
  fieldset { border: none; }
  .clear { clear: both; display: block; }
  a { text-decoration: none; color: #000; }
  a:hover { text-decoration: none; }
  li, ul, body, div, span, p, h1, h2, h3, input { margin: 0px; padding: 0px; }
  ul { list-style-type: none; }
  img { border: none; }
  button {background-color: transparent; border: none;}


/*----- General Styles -----*/

a:hover {
  transition: background-color 0.6s, color 0.6s;
  -o-transition: background-color 0.6s, color 0.6s;
  -moz-transition: background-color 0.6s, color 0.6s;
  -webkit-transition: background-color 0.6s, color 0.6s;
}

#background {
  display: none;
  background-color: $t-black;
  z-index: 2; 
  position: absolute;
  width: 100%;
  height: 100%
}

.appear {display: block}

.active {
  background-color: #FFF; 
  color: $main-color;
}

.container {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    padding-right: 15px;
    padding-left: 15px;
    box-sizing: border-box;

    @media (max-width: 576px) {
      width: 100%;
      padding-right: 30px;
      padding-left: 30px;
    }    

    @media (max-width: 1200px) {
      width: 100%;
    }

    @media (min-width: 1201px) {
      width: 1200px;
      max-width: 100%;
    }    
}

.img-fluid {
  width: 100%;
}

.fa {
  margin-right: 7px;
}

section {
  padding: 100px 0;

  h2 {
      font-size: 2rem;
      text-align: center;
      font-weight: 300;
    }

  .description {
      text-align: center;
      font-size: 1.6rem;
      font-weight: 300;
      font-style: italic;
      width: 70%;
      margin: 0 auto 50px;
    }
}


h2 {
  font-family: $font-main;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 4px;
  margin-bottom: 30px;
}

.background-image {
    position: relative;
    background-size: cover;
    background-position: center;
    color: white;
}

@keyframes fade-in {
    from {opacity: 0; transform: scale(.7,.7)}
    to {opacity: 1;}
}

.fade-in-element {
  animation: fade-in 1.4s;
}

.hidden {
  opacity: 0;
}

nav li {
  cursor: pointer;
}

/*----- Index Styles -----*/

#content {
  transition: margin-left .5s;
  width: 100%
}

#header {
  padding: 0 24px;
  background-color: rgba(0, 0, 0, 0.2);
  position: fixed;
  width: 100%;
  z-index: 2;
  
  ul {  
    li{ 
      float: left;
      display: block;
      position:relative;
      color: white;
      font-size: 0.8rem;
      font-weight: 300;
      letter-spacing: 3px;
      padding: 24px;       
      text-transform: uppercase;
    }
    
    li:hover {
        background-color: #FFF;
        color:$main-color;
        text-decoration: none;
    }
  } 
}
  
#index {
  color: #231f20;

  .events-content {background-image: url('../img/events.jpg');}

  .main-slide {
    color: white;
    position: relative;
    height: 560px;
    background-image: url('../img/background-image.jpg');
    background-size: cover;
    text-align: left;

    .text {
      box-sizing: border-box;
      position: absolute;
      width: 100%; 
      height: 100%; 
      top: 0;
      text-shadow: 0px 1px 1px #3e3e3e;
      padding-left: 60px;
      padding-right: 20px; 
      background-image: url('../img/budding-leaves.svg');
      background-repeat: no-repeat;
      background-position: right bottom;
      background-size: 400px;

      @media (max-width: 991px) {
        background-image: none;
      }
    }

    h1 {
      font-size: 7vw;
      font-family: Times;
      font-weight: normal;
      letter-spacing: -0.06em; 
      padding-top: 250px;
      margin: 0 auto; 
      width: 100%;

    } 

    h2 {
      font-size: 2rem;
    }

    .logo {
      margin: 0 auto;
      width: 400px;

      img {
        width: 300px;
      }
    }
  }

  .events-content {
    ul {
      width: 80%;
      margin: 0 auto;
      font-size: 0;
      li {
        width: 20%;
        display: inline-block;
        box-sizing: border-box;
        text-align: center;
        padding: 0 20px;
      }
      i {
        clear: both;
        font-size: 2rem;
        margin-bottom: 10px;
        display: inline-block;
      }
      span {
        display: block;
        clear: both;
        font-size: 1.3vw;        
      }
      .category {
        border: 1px white solid;
        box-sizing: border-box;
        padding: 15px;
      }
      @media (max-width: 991px){
          display: none;
      }
    }
  }

  .news-content i {
    text-align: center;
    font-size: 3vw;
    display: block;
    margin-bottom: 15px;
    color: #979797;

    @media (max-width: 991px) {
      font-size: 3rem;
    }
  }

  .interest-content{
    background-image: url('../img/interest.jpg');

    h2 {
      font-weight: 700;
    }
  }
  .comming-soon-content {
    font-size: 0;
    text-align: left;
    
    .item {
      display: inline-block;
      font-size: 1rem;
      margin-bottom: 20px;
      text-align: center;
      box-sizing: border-box;
      width: 25%;
      padding: 0 15px;

      h4 {
        color: #555;
        font-weight: 400;
        margin-top: 0;
        margin-bottom: 8px;
        text-transform: uppercase;    
      }

      .image {
        position: relative;
      }

      .date {
        bottom: 15px;
        color: white;
        background-color: rgba(0, 0, 0, 0.2);
        font-size: 14px;
        text-transform: uppercase;
        border: 1px white solid;
        padding: 5px 10px;
        position: absolute;
        text-align: center;
        display: inline-block;
        left: 27%;
        width: 85px;
      }

      .details {
        background-color: white;
        box-sizing: border-box;
        padding: 20px 15px;

        p {
          display: inline-block;
          margin-bottom: 15px;

          span::after {
            content: "\2022";
            margin-left: 5px;
          }

          span:last-child::after{
            display: none;
          }

          span:last-child {
            margin-left: 5px;
          }
        }

        .subtitle {
          color: #5b5b5b;
            font-weight: 300;
            display: inline-block;
            text-transform: uppercase;
        }

        .description {
          text-align: left;
          font-size: 0.8rem;
          font-weight: 600;
          font-style: italic;
          color: $gray;
        }
      }

      @media (max-width: 991px) {
        width: 50%
      }

      @media (max-width: 767px) {
        width: 100%;
      }
    }


  }

  .contact-content {
    background-image: url('../img/contacto.jpg');
    background-position: center top;
    padding-bottom: 130px;
  }

} 

/*----- Mobile Nav menu -----*/
.sidenav { 
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  overflow-x: hidden;
  transition: 0.5s;

  li {
    padding: 10px 10px 10px 24px;
    color: #1a1a1a;
    font-size: 21px;
    display: block;
  }

  li:hover {background-color: $gray}  
  
  .logo {
    height: 60px;
    background-color: $main-color;   
    img {
      max-width: 220px;
      padding: 7px 20px;
    }
  }
}

#navxs {
  padding-top: 12px;
  position: relative;

  ul {
    left:-9999px; 
    position:relative; 
    height: 0; 
    top: 0px; 
    width: auto;
  }

  & > li {
    overflow:hidden;
  }

  li {
    margin:0;
  }
  li:focus { 
    outline-width:0;
  }
}


#ic-toggle {
  i {
    z-index: 10; 
    padding: 10px;
    font-size: 2.4rem;
    display: none;
  }
  .fa-times {
    display: none;
  }

  .fa-bars {    
    @media (max-width: 767px){
      display: inline-block;
    }
  }
}


/*--------- Media queries ---------*/

@media (max-width: 968px){
  #index .article .text {width: 92%;padding-left: 4%;padding-right: 4%;}
}

@media (max-width: 768px){ /*xs devices - Mobile */
  #header {padding-left: 0}
  #header .logo {display: none;}
  #header .menu {display: none;}
  #header #ic-toggle {display: block;}
}